html, body, #app, .el-container{
  height: 100%;
}
.el-container{
  .el-header{
    background-color: #242f42;
    color: #fff;
    padding: 0;
    .header{
      height: 60px;
      line-height: 60px;
      .badge{
        sup{
          margin-top: 18px;
        }
      }
    }
  }
  .el-main{
    background-color: #f6f6f6;
    .page-content{
      box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      background-color: #fff;
      border-radius: 4px;
      padding: 20px;
      .button-field{
        padding-bottom: 10px;
      }
    }
    .search-card{
      margin-bottom: 15px;
      .el-card__header{
        padding: 10px 20px;
        border-bottom: none;
        .icon{
          float: right;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .body{
        padding: 20px;
      }
    }
  }
}
